body {
  background-color: #eaf6f6;
}
hr {
  background-color: #eaf6f6;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1,
h3 {
  color: #66bfbf;
}
